<h1>Barks#Index Page</h1>

<div id='links'>
  <% if !current_user %>
  <section id='not-logged-in'>
    <%= link_to 'Register New User', new_user_path %><br>
    <%= link_to 'Sign-In Returning User', '/login' %><br>
  </section>
  <% else %>
  <section id='logged-in'>
    <h2>Welcome <%=current_user.username%>!</h2>
    <%= link_to 'Your Profile', user_path(@user) %>
    <%= link_to 'Create a New Bark!', new_bark_path %><br>
    <%= link_to 'Sign Out', logout_path %>
  </section>
  <% end %>
</div>

<div id='all-barks'>
  <% if @barks %>
    <% @barks.each do |bark| %>
      <li class='li bark'>
        <%= link_to "#{bark.title}", bark_path(bark) %> <br>
      </li>
    <% end %>
  <% end %>
</div>