<div id='top'>
<h1 class='text-in-parallax'>BarK Along!</h1>

<p class='text-in-parallax'>Powered by Bootstrap</p>

<p class='text-in-parallax'>BarK along with other users to report cool bars and places to drink. If you find a happy hour menu that would wag your pup's tail, post a BarK and let others know of your discovery. Sign-In or Register Now to start BarKing!</p>
</div>

<div id='links'>
  <% if !current_user %>
    <section id='not-logged-in'>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href=<%=new_user_path%>>Register New User!</a></li>
        <li role='presentation'><a href='/login'>Sign-In Returning User!</a></li>
      </ul>
    </section>
  <% else %>
    <section id='logged-in'>
      <h2>Welcome <%=current_user.username%>!</h2>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href=<%=new_bark_path%>>Create a New BarK!</a></li>
        <li role='presentation'><a href=<%=logout_path%>>Sign Out</li>
      </ul>
    </section>
    <% end %>
  </ul>
</div>

<div class='parallax'></div>

<div></div>

<div class="parallax-2"></div>

<div>
  <% if @barks %>
  <ul class='list-group'>
    <% @barks.each do |bark| %>
      <li class='list-group-item'>
        <a href="/barks/<%=bark.id%>" class='list-group-item' ><%=bark.title%></a>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="parallax-3"></div>