<h1 class='bark-title'><%=@bark.title%></h1>

<p>Location: <%=@bark.location%></p>
<p class='bark-content'><%=@bark.content%></p>

<%= link_to 'Edit this Bark!', edit_bark_path(@bark) %><br>
<%= link_to 'All Barks', root_path %>