<h1 class='bark-title'><%=@bark.title%></h1>

<p>Location: <%=@bark.location%></p>
<p class='bark-content'><%=@bark.content%></p>

<% if current_user && @bark.user_id == current_user.id %>
  <%= link_to 'Edit this Bark!', edit_bark_path(@bark) %><br>
  <%= form_tag(bark_path(@bark), method: 'delete') do %>
    <input type='submit' value='Delete this Bark?'>
  <% end %>
<% end %>
<%= link_to 'All Barks', root_path %>